@font-face {
    font-family: "NeoDunggeunmo";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: #101010;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: NeoDunggeunmo;
    color: #fff;
    cursor: default;
}
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    background: #2c2f3b;
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
    height: 20px;
    background: #404040;
    border-radius: 10px;
}

/* ------------navbar 관련------------- */
#nav {
    background-color: rgb(80, 80, 80);
    height: 20px;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    font-family: NeoDunggeunmo;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 30px 10%;
    z-index: 1;
}
#nav_links {
    list-style: none;
    text-decoration: none;
    justify-content: space-evenly;
}
#nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
#nav_links li a {
    transition: all 0.3s ease 0s;
    text-decoration-line: none;
    color: #fff;
}
#nav_links li a:hover {
    color: #0a3e5b;
}
#nav_img {
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
    width: 50px;
}
/* ----------------------------------- */

#hi {
    margin: 20px;
}

#site_top_name {
    font-size: 5rem;
    font-weight: 900;
}
#copyright {
    margin-top: 25vh;
    display: flex;
    flex-direction: row-reverse;
}

#about_css {
    margin-top: 80vh;
}

#about_me {
    padding: 20vh;
    z-index: 2;
}

#skills {
    padding: 15vh;
}
#skill_css {
    margin-top: 80vh;
}
#skill_img_css {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15%;
}


.img {
    margin-top: 100px;
    height: 200px;
    width: 200px;
}

.skillBox {
    opacity: 0;
    background: #505050;
    border-radius: 20px;
}

.skillImg {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 100px;
    width: 100px;
}


#link_css {
    margin-top: 80vh;
}

#link_icon_css {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 100px; 
}

.hover_ {
    margin: 5px 2.9%;
    justify-content: space-between;
    background-color: #505050;
    color: #fff;
    white-space: nowrap;
    padding: 8px 18px;
    border-radius: 7px;
}

.hover_::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #505050 transparent transparent;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 80px;
    width: 80px;
    cursor: pointer;
}

#hover {
    opacity: 0;
    position: relative
}

.fa-brands {
    font-size: 5rem;
    font-weight: 900;
    padding: 0;
    margin-top:  30px
}

.fa-solid {
    font-size: 5rem;
    font-weight: 900;
    margin-top:  30px
    
}

.link:hover #hover {
    opacity: 1;
}

.hidden {
    opacity: 0;
    transition: all 1.5s;
    transform: translateY(50px);
}

.skillHidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.skillHidden:nth-child(2) {
    transition-delay: 200ms;
}

.skillHidden:nth-child(3) {
    transition-delay: 400ms;
}

.skillHidden:nth-child(4) {
    transition-delay: 600ms;
}

.skillHidden:nth-child(5) {
    transition-delay: 800ms;
}

.skillHidden:nth-child(6) {
    transition-delay: 1000ms;
}

.skillHidden:nth-child(7) {
    transition-delay: 1200ms;
}

.show {
    transform: none;
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}
